body {
    background: whitesmoke;
    text-align: center;
}

nav {
    background-color: rgb(128, 140, 247);
    display: inline-block;
}

.logo {
    color: black;
    text-transform: uppercase;
}

.btn {
    background-color: aqua;
    border-radius: 5px;
    border: black 2px;
}